{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} Fill the fastapi poll {% endblock %}</h2>
<form action="/submit/" method="post">
    <label for="username">What is your username:</label>
    <br>
    <input type="text" id="username" placeholder="insert username" name="username" required>
    <br>
    <br>
    <label for="age"> What is your age:</label>
    <br>
    <input type="text" id="age" placeholder="insert age" name="age" required>
    <br>
    <br>
    <label for="city"> What is your city:</label>
    <br>
    <input type="text" id="city" placeholder="insert city" name="city" required>
    <br>
    <br>
    <label for="country"> What is your country:</label>
    <br>
    <input type="text" id="country" placeholder="insert country" name="country" required>
    <br>
    <div class=''>
    <p>Enter submit button, please:</p>
    </div>
    <button type="submit">Submit</button>
</form>


{% endblock %}